@import url(css/variaveis.css);
body {

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color:#d9d9d9;
}

nav {
  background-color: #444;
  text-align: center;
  padding: 20px 0;
  box-shadow: #333 14px;
}
header{
  background-color: rgb(152, 152, 152);
  width: 100%;
  height: 200px;
  background: url(/images/WhatsApp\ Image\ 2024-10-24\ at\ 07.31.15.jpeg) no-repeat;
  background-size: 100%;
  align-content: center;
}
#titulohistooria{
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 100px;
  font-style: normal;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
nav a{
  transition-duration: 0.5s;
  text-decoration: none;
  color: white;
}
nav a:hover{
  /* -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
            scale: 1.1;
}
#botoms{
  background-color: rgb(34, 34, 34);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
#exit{
  overflow: hidden;
}

#sociedadeatual{
  color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 50px;
  display: flex;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
#desenvolvimento{
  color: white;
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
#equipe{
  color: white;
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
#lugares-his{
  color: white;
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
nav a:hover{
  /* -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
}


nav a {
  color: white;
  text-decoration: none;
  
}

.image-gallery {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 150px;
  height: 200px;
}

.image-box {
  width: 33,3%; 
  height: 100%; 
  border: 1px solid #333;
}

h2 {
  text-align: center;
  margin: 20px 0;
  color: green;
  background-color: #fff;
  width: 415px;
  display: flex;
  margin-left: 230px;
}
#bloco{
  height: 250px ;
  margin-left: 50px;
  margin-right: 50px;
}
#map{
  display: flex;
  width: 300px;
  height: 200px; 
  border: 1px solid black;
  align-content: center;
  border-radius: 10px;
}

.side-images {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  margin-inline-end: 20px;/*arruma essa parada pra fica no meio*/
  margin-inline-start: 20px;
}

.side-image {
  width: 150px; 
  height: 150px; 
  border-radius: 10px; 
  margin-top: 20px;
}

.side-titulo{
  color: black;
  font-weight: 100;
  width: 100px;
  font-size: 20px;
}

.side-text{
  color: black;
  font-size: 10px
}


.large-image {
  display: flex;
  width: 400px; /* ta zuado*/
  height:400px; /* arruma esssa poha */
  border-radius: 10px; 
  overflow: hidden;
  position: relative;
}
#forma{
  display: grid;
  align-items: flex-end;
 color:#333;
}

footer {
  display:grid;
  row-gap: 2%;
  background-color: #333;
  text-align: center;
  padding: 10px;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-15 18:23:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
