@import url(css/variaveis.css);
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color:#d9d9d9;
  overflow-x: hidden;
  
}

nav {
  background-color: #444;
  text-align: center;
  padding: 20px 0;
  box-shadow: #333 14px;
}
header{
  background-color: rgb(152, 152, 152);
  width: 100%;
  height: 200px;
  background: url(/images/WhatsApp\ Image\ 2024-10-24\ at\ 07.31.15.jpeg) no-repeat;
  background-size: 100%;
  align-content: center;
}
#titulohistooria{
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 100px;
  font-style: normal;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
nav a{
  transition-duration: 0.5s;
  text-decoration: none;
  color: white;
}
nav a:hover{
  /* -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
            scale: 1.1;
}
#botoms{
  background-color: rgb(34, 34, 34);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
#exit{
  overflow: hidden;
}

#sociedadeatual{
  color: white;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 50px;
  display: flex;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
#desenvolvimento{
  color: white;
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
#equipe{
  color: white;
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
#lugares-his{
  color: white;
  font-size: 20px;
  margin-top: 10px;
  display: flex;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
nav a:hover{
  /* -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
}


nav a {
  color: white;
  text-decoration: none;
  
}

.image-gallery {
  display: flex;
  overflow: hidden;
  margin-top:25px;
  height: 200px;
  border: 1px solid #333;
}

.image-box {
  width: 33,4%; 
  height: 100%; 
  
}

#conheca {
  text-align: center;
  margin: 20px 0;
  color: green;
  background-color: #fff;
  width: 415px;
  display: flex;
  margin-left: 230px;
  margin-top: 60px;
}
#bloco{
  height: 250px ;
  margin-left: 30px;
  margin-right: 400px;
}
#map{
  width: 60vw;
  height:60vh; 
  align-content: center;
  margin-top: 150px;
  border: 1px solid #333;
}

.side-images {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

}

.side-image {
  width: 150px; 
  height: 150px; 
  border-radius: 10px; 
  margin-top: 20px;
  margin-left: 30px;
}

.section{
  width: 300px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.side-titulo{
  color: black;
  font-weight: 100;
  font-size: 15px;
}

.side-text{
  color: black;
  font-size: 13px;
}

#forma {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 40px; 
  align-items: center; 
  margin: 20px;
}

figure {
  
}
/*A IMAGEM E TÃO GRANDE QUA BUGA O SITE ELA ESCAPA DO CONTAINER DA DIV E POR ISSO GERA CONFLITO COM O FOOTER EO TEXTO DO LADO*/
.grafico {
  display: flex;
  height: 100vh;
  width: 100vw; 
 
}

#toledo {
  grid-column: 1; 
  justify-self: start; 
  font-size: 30px;
  font-weight: bold;
}
#todotexto{
  margin-left: 10px;
  margin-bottom: 20%;
}
#descricao {
  grid-column: 1; 
  justify-self: start; 
  font-weight: 100;
  font-size: 20px;
  text-align: justify;
  margin: 2% 4%;
  max-width: 400px;
}


@media (max-width: 768px) {
  #forma {
      grid-template-columns: 1fr; 
  }

  #grafico {
      justify-self: center; 
  }

  #toledo, #descricao {
      justify-self: center; 
      text-align: center;
  }
}
/*tentativa de deixar responsivo*/


footer {
  color: white;
  display:grid;
  row-gap: 2%;
  background-color: #333;
  text-align: center;
  padding: 10px;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-15 18:23:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
/* Mixin white-gradient */
.white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/* Styling */
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide {
  height: 100px;
  width: 250px;
}

